Repository Jozwiaczek/smart-gate, pull requests merged in 2021-03, with the labels that each got.

#85 Login page design
  packages/client/package.json
  packages/client/src/Routes.tsx
  packages/client/src/containers/DefaultLayout/index.tsx
  packages/client/src/containers/Login/Login.styled.ts
  packages/client/src/containers/Login/Login.types.d.ts
  packages/client/src/containers/Login/index.tsx
  packages/client/src/containers/Registration/Registration.styled.ts
  packages/client/src/containers/Registration/Registration.types.d.ts
  packages/client/src/containers/Registration/index.tsx
  packages/client/src/containers/SignIn/SignIn.styled.ts
  packages/client/src/containers/SignIn/index.tsx
  packages/client/src/containers/index.ts
  packages/client/src/elements/AnimatedLogo/AnimatedLogo.stories.tsx
  packages/client/src/elements/AnimatedLogo/index.tsx
  packages/client/src/elements/BackgroundSideLogo/BackgroundSideLogo.stories.tsx
  packages/client/src/elements/BackgroundSideLogo/index.ts
  packages/client/src/elements/Button/Button.styled.ts
  packages/client/src/elements/Card/index.ts
  packages/client/src/elements/Card/index.tsx
  packages/client/src/elements/Copyright/Copyright.styled.ts
  packages/client/src/elements/Form/index.tsx
  packages/client/src/elements/IconButton/IconButton.stories.tsx
  packages/client/src/elements/IconButton/IconButton.types.d.ts
  packages/client/src/elements/IconButton/index.ts
  packages/client/src/elements/IconButton/index.tsx
  packages/client/src/elements/Inputs/Checkbox/Checkbox.styled.ts
  packages/client/src/elements/Inputs/TextField/PasswordIconButton/PasswordIconButton.styled.ts
  packages/client/src/elements/Inputs/TextField/PasswordIconButton/index.tsx
  packages/client/src/elements/LayoutContainer/LayoutContainer.stories.tsx
  packages/client/src/elements/LayoutContainer/index.ts
  packages/client/src/elements/Link/Link.styled.ts
  packages/client/src/elements/index.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useAnimated/getAnimation.ts
  packages/client/src/hooks/useAnimated/index.ts
  packages/client/src/hooks/useAnimated/useAnimated.typed.d.ts
  packages/client/src/hooks/useOnScreen.ts
  packages/client/src/icons/EmailIcon.tsx
  packages/client/src/icons/LockIcon.tsx
  packages/client/src/icons/SmartGateBackgroundLogoIcon.tsx
  packages/client/src/icons/SmartGateLogoIcon.tsx
  packages/client/src/icons/TickIcon.tsx
  packages/client/src/icons/index.ts
  packages/client/src/index.tsx
  packages/client/src/interfaces/intersection-observer.d.ts
  packages/client/src/providers/StylesProvider/index.tsx
  packages/client/src/providers/index.tsx
  packages/client/src/theme/GlobalStyles.ts
  packages/client/src/theme/Theme.ts
  yarn.lock
Labels: client

#97 Handle user data on client app
  packages/api/package.json
  packages/api/src/interfaces/cookie-types.d.ts
  packages/api/src/interfaces/login-user-info.d.ts
  packages/api/src/modules/auth/auth.controller.ts
  packages/api/src/modules/auth/auth.module.ts
  packages/api/src/modules/auth/auth.service.ts
  packages/api/src/modules/auth/decorators/cookiePayload.decorator.ts
  packages/api/src/modules/auth/strategies/local/local-auth.guard.ts
  packages/api/src/modules/auth/strategies/local/local.strategy.ts
  packages/api/src/modules/database/entities/user.entity.ts
  packages/api/src/modules/database/migrations/1614727112463-FirstAndLastNameRequired.ts
  packages/api/src/modules/users/dto/create-user.dto.ts
  packages/api/src/modules/users/dto/login-user.dto.ts
  packages/api/src/modules/users/users.service.spec.ts
  packages/api/src/utils/validation.pipe.ts
  packages/api/test/utils/testCreateRandomUser.ts
  packages/client/src/Routes/RouteGuard/index.tsx
  packages/client/src/Routes/RouteGuard/routeGuard.types,d.ts
  packages/client/src/Routes/index.tsx
  packages/client/src/constants/routes.ts
  packages/client/src/containers/Dashboard/index.tsx
  packages/client/src/containers/DefaultLayout/index.tsx
  packages/client/src/containers/Login/Login.types.d.ts
  packages/client/src/containers/Login/index.tsx
  packages/client/src/containers/Registration/index.tsx
  packages/client/src/enums/role.enum.ts
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useCurrentUser.ts
  packages/client/src/hooks/useLocalStorage.ts
  packages/client/src/interfaces/lazyLoading.d.ts
  packages/client/src/providers/api/AuthProvider/AuthProvider.context.ts
  packages/client/src/providers/api/AuthProvider/AuthProvider.types.d.ts
  packages/client/src/providers/api/AuthProvider/index.tsx
  packages/client/src/providers/api/AxiosProvider/index.tsx
  packages/client/src/providers/api/CurrentUserProvider/CurrentUserProvider.context.ts
  packages/client/src/providers/api/CurrentUserProvider/CurrentUserProvider.types.d.ts
  packages/client/src/providers/api/CurrentUserProvider/index.tsx
  packages/client/src/providers/index.tsx
  yarn.lock
Labels: client

#98 Add page loader
  packages/client/src/containers/Login/index.tsx
  packages/client/src/elements/animations/PageLoader/PageLoader.stories.tsx
  packages/client/src/elements/animations/PageLoader/PageLoader.styled.ts
  packages/client/src/elements/animations/PageLoader/PageLoader.types.d.ts
  packages/client/src/elements/animations/PageLoader/index.tsx
  packages/client/src/elements/animations/index.ts
  packages/client/src/elements/buttons/IconButton/IconButton.stories.tsx
  packages/client/src/elements/index.ts
  packages/client/src/elements/inputs/TextField/TextField.styled.ts
  packages/client/src/routes/RouteGuard/index.tsx
Labels: client

#109 feat(client): handle accessibility, handle animation logo on click
  packages/client/src/elements/Card/index.ts
  packages/client/src/elements/Link/Link.styled.ts
  packages/client/src/elements/Snackbar/Snackbar.styled.ts
  packages/client/src/elements/animations/AnimatedLogo/AnimatedLogo.styled.ts
  packages/client/src/elements/animations/AnimatedLogo/AnimatedLogo.types.d.ts
  packages/client/src/elements/animations/AnimatedLogo/index.tsx
  packages/client/src/elements/buttons/Button/Button.styled.ts
  packages/client/src/elements/buttons/IconButton/index.ts
  packages/client/src/elements/inputs/Checkbox/Checkbox.styled.ts
  packages/client/src/elements/inputs/Checkbox/index.tsx
  packages/client/src/elements/inputs/TextField/TextField.styled.ts
  packages/client/src/theme/Theme.ts
Labels: client

#110 Add translations
  packages/client/src/containers/Dashboard/index.tsx
  packages/client/src/containers/Login/index.tsx
  packages/client/src/containers/Registration/index.tsx
  packages/client/src/elements/Form/index.tsx
  packages/client/src/elements/inputs/TextField/index.tsx
  packages/client/src/i18n/resources/en.ts
  packages/client/src/i18n/resources/pl.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/onlyOnDevEnv.ts
Labels: client

#119 feat(client): add password updated info screen
  packages/client/src/containers/PasswordRecovery/UpdatePassword/UpdatePassword.styled.ts
  packages/client/src/containers/PasswordRecovery/UpdatePassword/UpdatePassword.types.d.ts
  packages/client/src/containers/PasswordRecovery/UpdatePassword/index.tsx
  packages/client/src/i18n/resources/en.ts
  packages/client/src/i18n/resources/pl.ts
  packages/client/src/icons/ShieldLock.tsx
  packages/client/src/icons/index.ts
Labels: client

#117 Add mailer service
  packages/api/.env.example
  packages/api/README.md
  packages/api/package.json
  packages/api/src/emailTemplates/index.ts
  packages/api/src/emailTemplates/passwordResetTemplate.ts
  packages/api/src/emailTemplates/welcomeTemplate.ts
  packages/api/src/modules/app.module.ts
  packages/api/src/modules/auth/auth.controller.ts
  packages/api/src/modules/auth/auth.module.ts
  packages/api/src/modules/mailer/config/mailer-config.module.ts
  packages/api/src/modules/mailer/config/mailer-config.service.ts
  packages/api/src/modules/mailer/mailer.module.ts
  packages/api/src/modules/mailer/mailer.service.ts
  packages/client/public/email-images/paper-plane.png
  packages/client/public/email-images/sg-logo.png
  packages/client/public/email-images/shield-lock.png
  packages/client/src/containers/Login/index.tsx
  packages/client/src/containers/Registration/index.tsx
  yarn.lock
Labels: api

#113 Refactor auth client layer
  packages/api/src/modules/auth/auth.controller.ts
  packages/client/src/constants/enviroment.ts
  packages/client/src/constants/enviroments.ts
  packages/client/src/constants/index.ts
  packages/client/src/constants/routes.ts
  packages/client/src/containers/Dashboard/index.tsx
  packages/client/src/containers/Login/index.tsx
  packages/client/src/containers/PageNotFound/index.tsx
  packages/client/src/containers/PasswordRecovery/UpdatePassword/index.tsx
  packages/client/src/containers/PasswordRecovery/index.tsx
  packages/client/src/containers/Registration/index.tsx
  packages/client/src/elements/layouts/CardLayout/CardLayout.stories.tsx
  packages/client/src/elements/layouts/GlobalLayout/index.tsx
  packages/client/src/hooks/index.ts
  packages/client/src/hooks/useAxios.ts
  packages/client/src/hooks/useLocalStorage/useLocalStorage.ts
  packages/client/src/hooks/useLocalStorage/useLocalStorage.types.d.ts
  packages/client/src/hooks/useLocalStorage/useLocalStorageMemory.ts
  packages/client/src/i18n/index.ts
  packages/client/src/interfaces/lazyLoading.d.ts
  packages/client/src/providers/ThemeTypeProvider/index.tsx
  packages/client/src/providers/api/AuthProvider/AuthProvider.context.ts
  packages/client/src/providers/api/AuthProvider/AuthProvider.types.d.ts
  packages/client/src/providers/api/AuthProvider/index.tsx
  packages/client/src/providers/api/AxiosProvider/AxiosProvider.types.d.ts
  packages/client/src/providers/api/AxiosProvider/index.tsx
  packages/client/src/providers/api/CurrentUserProvider/CurrentUserProvider.types.d.ts
  packages/client/src/providers/api/CurrentUserProvider/index.tsx
  packages/client/src/providers/index.tsx
  packages/client/src/routes/ConditionRoute/Condition.types.d.ts
  packages/client/src/routes/ConditionRoute/index.tsx
  packages/client/src/routes/RouteGuard/RouteGuard.types.d.ts
  packages/client/src/routes/RouteGuard/index.tsx
  packages/client/src/routes/conditions.ts
  packages/client/src/routes/index.tsx
  packages/client/src/routes/routesConfig.ts
  packages/client/src/serviceWorker/serviceWorkerRegistration.ts
  packages/client/src/utils/onlyOnDevEnv.ts
Labels: client

#138 feat(api): add global config module
  packages/api/.env.example
  packages/api/src/main.ts
  packages/api/src/modules/app.module.ts
  packages/api/src/modules/config/config-loader.ts
  packages/api/src/modules/config/config.module.ts
  packages/api/src/modules/config/config.ts
  packages/api/src/modules/config/environment-config/environment-config.module.ts
  packages/api/src/modules/config/environment-config/environment-config.service.ts
  packages/api/src/modules/database/config/database-config.module.ts
  packages/api/src/modules/database/config/database-config.service.ts
  packages/api/src/modules/mailer/config/mailer-config.module.ts
  packages/api/src/modules/mailer/config/mailer-config.service.ts
  packages/api/src/modules/mailer/mailer.module.ts
  packages/api/src/modules/mailer/mailer.service.ts
  packages/api/tsconfig.json
  packages/client/src/hooks/useOnClickOutside.ts
Labels: api

#140 feat(api): setup sentry
  packages/api/package.json
  packages/api/src/main.ts
  packages/api/src/modules/app.module.ts
  packages/api/src/modules/config/config-loader.ts
  packages/api/src/modules/config/config.module.ts
  packages/api/src/modules/config/config.ts
  packages/api/src/modules/config/env-config/env-config.module.ts
  packages/api/src/modules/config/env-config/env-config.service.ts
  packages/api/src/modules/config/environment-config/environment-config.module.ts
  packages/api/src/modules/global-exceptions-filter/global-exceptions-filter.module.ts
  packages/api/src/modules/global-exceptions-filter/global-exceptions-filter.ts
  packages/api/src/modules/sentry/sentry.module.ts
  packages/api/src/modules/sentry/sentry.service.ts
  tsconfig.settings.json
  yarn.lock
Labels: api, devops

#144 feat(client): add sentry
  packages/client/.env.example
  packages/client/package.json
  packages/client/src/elements/inputs/TextField/TextField.test.tsx
  packages/client/src/index.tsx
  packages/client/src/loadPolyfills.ts
  packages/client/src/loadSentry.ts
  packages/client/src/reportWebVitals.ts
  packages/client/src/utils/testingLibraryInstance.tsx
  yarn.lock
Labels: client, devops
